*{
    margin:0;
    border-radius: 4px;
    border:border-box;
    font:arial;

}
.upper_navbar{
    height:100px;
    width:100%;
    background-color: #e4740b;
    display:flex;
    justify-content: space-evenly;
    
    
}
.navbar_logo{
    height:100px;
    width:250px;
    display: flex;
    align-items: center;
    
}
.logo_1{
    
    margin-left: 2px;
    height:80 px;
    width:113 px;
    
}
.logo_2{
    margin-left:10px ;
    background-image: url(G20.png);
    height:70px;
    width:130px;
}
.nav-loc{
    
    height:80;
    width:90;
    background-size: cover;
    justify-content: left;
   text-align: left;
    margin-top: 15px;

}
.add-first{
    font:0.8rem;
    color:antiquewhite;
    margin-left: 15px;
    margin-top: 15px;
}
.add-sec{
    font:1rem;
    color:white;
    margin-left:3px;

}
.icon{
    display: flex;
    align-items: center;
    color:antiquewhite;
    font-size: x-large;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.nav-search{
    display:flex;
    height:50px;
    border-radius: 4px;
    background-color: white;
    width:700px;
    margin-top:20px;
}
.search-select{
    align-items: center;
    height: 50px;
    width:60px;
    background-color:white ;
    color:#0f1111;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
    font-size:1rem
}
.search-input{
    width:100%;
    border: none;
    font-size: 1 rem;

}
.search-icon{
    display:flex;
    width:50px;
    height:50px;
    color:black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
    justify-content: center;
    align-items: center;
    background-color: #e6900e;
    
}
.nav-language-chng{ 
    margin-left:10px;
    margin-top:20px;
    width:50px;
    height:50px;
    margin-bottom: 30px;
  
   

}
.language-chng{
    font-size: xx-large;
    width:70px;
    height:50px;
   
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;

}
.nav-content{
    margin-left:10px;
    margin-top:20px;
    width:50px;
    height:50px;
    margin-bottom: 30px;
   
    
    
}
.menu-icon{
    font-size: xx-large;
   margin-left:10px;
    text-align: center;
    
}
.nav-content .dropbtn {
    cursor: pointer;
    font-size: 1.5rem;  
    border:#e6900e;
    outline:blue;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    text-align: center;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    min-height: 150px;
    box-shadow: 2px 20px 25px 2px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1rem;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
.nav-content2{
    width:80px;
    height:70px;
    margin-top: 10px;
     
}
.add-firstcontent2{
    font-size:1rem;
    color: #ffffff;
    height:17px;
    width:70px;
    align-items: center;
    margin-top: 10px;
}
.add-seccontent2{
    font-size:1.5rem;
    height:23px;
    width:70px;
    color:#ffffff;
}
.kart-box{
    height:70px;
    width:80px;
    display:flex;
    margin-top:10px;
    
}
.icon2{
    width:70px;
    height:60px;
    margin-top: 10px;
    color:#ffffff;
    font-size:xx-large;

}
.kart-content{
    font-size: 1.5rem;
    color:#ffffff;
    margin-top: 30px;
    width:28px;
    height:15px;
    margin-right: 45px;

}
.profile-img{
    height:70px;
    width:80px;
    display:flex;
    margin-top:10px;
    
}

.icon3{
     width:70px;
    height:60px;
    margin-top: 15px;
    color:#ffffff;
    font-size: xx-large;

}
.profile-content{
    font-size: 1rem;
    color:#ffffff;
   margin-top: 15px;
    width:28px;
    height:15px;
    margin-right:20px;
    


}

.lower_navbar{
    height:40px;
    width:100%;
    background-color: #dcdced;
    display: flex;
    
    
    
}
nav ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    
  } 
   
  nav ul li { 
    display: inline-block; 
  } 
   
  nav ul li a { 
    display: block; 
    padding: 10px 20px; /* adjust padding as needed */ 
    text-decoration: none; 
  } 
   
  nav ul li + li { 
    margin-left: 10px;}



    .container {
      margin-top: 20px;
      margin-bottom: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
     
    }
    .landingpage{
      background-color:#FFFFFF;
      height:100%;
      width:100%;
    }  
  
    .image-box {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      border-radius: 20px;
      background-color:#E9E4E6;
    }
  
    .image {
      position: relative;
      margin: 10px;
      cursor: pointer;
      transition: transform 0.3s;
    }
  
    .image img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border: 1px solid #ccc;
      border-radius: 8px;
    }
  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      margin-top: 40px;
      padding: 10px;
      z-index: 1;
      width: 150px;
    }
  
  
    .image:hover .dropdown-content {
      
      display: block;
      max-width: max-content;
     
    }
  
    .dropdown-content p {
      margin: 0;
    }
  
    .label {
      margin-top: 10px;
      font-weight: bold;
    }
    .items-container{
      display :flex;
      justify-content: space-evenly;
      margin-top: 5px;
      margin-left: 20px;
      margin-right: 20px;
    }
    
    .item{
       
        text-align: center;
        margin-top: 3px;
        margin-left:5px ;
        margin-right:5px;
        border-bottom: 1px grey solid;
        width:20%;
       
        background-color:#E9E4E6;
    }
   .item .button{
  border: none;
  background-color: rgb(245, 114, 13);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 30%;
 
    }
    .item img {
        margin-left: 10px;
        margin-right: 10px;
        margin-top:10px;
        width: 240px;
        height: 200px;
        object-fit: cover;
        border: 1px solid #ccc;
        border-radius: 8px;
       
      }
      .item p{
        margin-left: 20px;
        margin-top: 10px;
        font-size: 20px;
      }
      a{
        color:black;
      }
      a:hover{
        color:red;
      }
h1{
    margin-left: 20px;
    margin-top: 10px;
}
.items-container-1{
  display :flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}
.item-1{
       
  text-align: center;
  margin-top: 3px;
  margin-left:5px ;
  margin-right:5px;
  border-bottom: 1px grey solid;
  width:20%;
  background-color:#E9E4E6;
}
.item-1 .button{
  border: none;
  background-color: rgb(245, 114, 13);
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 5px 5px;
  cursor: pointer;
  border-radius: 30%;
 
    }
.item-1 img {
  margin-left: 10px;
  margin-right: 10px;
 margin-top:10px;
  width: 240px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.item-1 p{
  margin-left: 20px;
  margin-top: 10px;
  font-size: 20px;
}
a{
  color:black;
}
a:hover{
  color:red;
}