.product-fill{
    width:60%;
    height:fit-content;
    background-color: #E9E4E6;
    background-size: cover;
    margin-left:20rem  ;
    margin-top:20px;
    border-radius: 5%;
    box-shadow:darkgrey;
    font-size: 1rem;
    font-weight: bold;
    border-style:solid;
    border-color: gold;
    
    
}
.product-fill  li{
    
    margin-left:10px;
    margin-top:20px;
    justify-content: space-evenly;
    font-size: 1.5rem;
    list-style: none;
}
.input-value{
    font-size: 1.5rem;
    border-radius: 5%;
    box-shadow: black;
    margin-left: 20px;
    
}
.product-fill  li select 
{
    font-size: 1.5rem;
    border-radius: 5%;
    box-shadow: black;

}
.button{
    margin-left:25rem;
    align-self: center;
    color:rgb(6, 90, 244);
    font-size: 2rem;
    font-weight: bolder;
    border:black;
    border-style: solid;
    border-radius: 10%;
}
.para-fit{
    width:30%;
    
}
.lis1{
    display:flex;
    margin-left: 30px;
}
.parafit2{
    width:30%;
    
}
.list2{
    display:flex;
    margin-left: 50px;
}
