*{
    margin:0;
    border-radius: 4px;
    border:border-box;
    font:arial;
    

}

.upper_navbar{
    height:100px;
    width:100%;
    background-color: #0b5e67;
    display:flex;
    justify-content: space-evenly;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
    
}
.navbar_logo{
    height:100px;
    width:250px;
    display: flex;
    align-items: center;
    
}
.logo_1{
    
    margin-left: 2px;
    height:80 px;
    width:113 px;
    
}
.logo_2{
    margin-left:10px ;
    background-image: url(G20.png);
    height:70px;
    width:130px;
}
.nav-loc{
    
    height:80;
    width:90;
    background-size: cover;
    justify-content: left;
   text-align: left;
    margin-top: 15px;

}
.add-first{
    font:0.8rem;
    color:antiquewhite;
    margin-left: 15px;
    margin-top: 15px;
}
.add-sec{
    font:1rem;
    color:white;
    margin-left:3px;

}
.icon{
    display: flex;
    align-items: center;
    color:antiquewhite;
    font-size: x-large;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 0.5px solid white;
}
.nav-search{
    display:flex;
    height:50px;
    border-radius: 40px;
    background-color: white;
    width:700px;
    margin-top:20px;
}
.search-select{
    align-items: center;
    height: 50px;
    width:60px;
    background-color:#0b5e67 ;
    color:#fff;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size:1rem
}
.search-input{
    width:100%;
    border: none;
    font-size: 1 rem;

}
.search-icon{
    display:flex;
    width:50px;
    height:50px;
    color: #fff;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    
    justify-content: center;
    align-items: center;
    background-color: #0b5e67;
    
}
.nav-language-chng{ 
    margin-left:10px;
    margin-top:20px;
    width:80px;
    height:70px;
    margin-bottom: 30px;
  
   

}
.language-chng{
    font-size: 60px;
    width:70px;
    height:50px;

    color: white;
    display:flex;
    justify-content: center;
    align-items: center;

}
.language-chng :active{
    transform: translateY(2px);

}
.nav-content{
    margin-left:10px;
    margin-top:20px;
    width:60px;
    height:70px;
    margin-bottom: 30px;
   
    
}
.menu-icon{
    font-size: xx-large;
    text-align: center;
    
}
.nav-content .dropbtn  {
    cursor: pointer;
    font-size: 40px;  
    border:#10558d;
    color: white;
    display: inline-block;
    background-color: transparent;
    font-family: inherit;
    text-align: center;
  }
  .nav-content .dropbtn :active{
    
    transform: translateY(2px);
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    min-height: 150px;
    box-shadow: 2px 20px 25px 2px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: center;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 1rem;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .show {
    display: block;
  }
.nav-content2{
    width:80px;
    height:70px;
    margin-top: 10px;
     
}
.add-firstcontent2{
    font-size:1.1vw;
    color: #ffffff;
    height:17px;
    width:70px;
    align-items: center;
    margin-top: 10px;
}
.add-seccontent2{
    font-size:1.1vw;
    height:23px;
    width:70px;
    color:#ffffff;
}

.kart-box{
    height:70px;
    width:70px;
    display:inline-block;
    margin-top:24px;
    margin-left: 10px;
}
.icon2{
    width:60px;
    margin-bottom: 6px;
    margin-top: 5px;
    text-align: center;
    margin-left: 0;
    color:#ffffff;
    font-size:xx-large;

}
.kart-content{
    font-size: 1.1vw;
    color:#ffffff;
    margin-left: 0;
    text-align: center;
    
}
.profile-img{
    height:70px;
    width:80px;
    display:flex;
    margin-top:24px;
    
}

.icon3{
     width:40px;
    height:40px;
    margin-top: 10px;
    color:#ffffff;
    font-size: xx-large;

}
.profile-content{
    font-size: 1.1vw;
    color:#ffffff;
   margin-top: 15px;
    width:28px;
    height:15px;
    margin-right:20px;
    


}

.lower_navbar{
    height:40px;
    width:100%;
    background-color: #fff;
    border-radius: black solid 20px;  
    display: flex;
    box-shadow: 0px 1px 3px 5px rgba(0,0,0,0.5) , 0px 1px 2px 5px rgba(0,0,0,0.5) ;

    
    
}
nav ul { 
    list-style: none; 
    margin: 0; 
    padding: 0; 
    justify-content: center;
    
  } 
   
  nav ul li { 
    display: inline-block; 
    text-align: center;
    color: #222;
  } 
   
  nav ul li a { 
    display: block; 
    justify-content: center;
    padding: 10px 20px; /* adjust padding as needed */ 
    text-decoration: none; 
  } 
   
  nav ul li + li { 
    margin-left: 10px; /* adjust margin as needed */ 
  } 
.landingpage{
    background-color: whitesmoke;
    
    height:1500px;
    width:100%;
  
}
.slideshow-container {
    position: relative;
    text-align: center;
    width: 100vw;
    height: 100%;
    margin: 0 auto; /* Center the slideshow horizontally */
    overflow: hidden;
}

/* Style for individual slides */
.slide {
    display: none; /* Hide all slides by default */
    height: 300px;
    width: 100%; /* Each slide takes up the full width of the container */
}

/* Style for the images within the slides */
.img{
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    height: 100%; /* Maintain the image's aspect ratio */
}

/* Style for the navigation dots */
.dot-container {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    cursor: pointer;
}

.active-dot {
    background-color: #0c0c0c;
}
.main_page{
    display:flex;
    justify-content: space-evenly;

}
.industry{
    width:200px;
    height:500px;
    align-items: center;
    border-radius: 10px;
    
    margin-left:30px;
    text-align: center;
    justify-content: center;


}
.industry a{
    text-decoration: none;
}
.industry-item{
    border-radius: 50%;
   
    
    
}
.industry-name{
    color:black;
    font-size: 1rem;
    margin-left: 30px;
    font-weight: bolder;

}
.goog-te-combo {
    width: 250px;
    height: 30px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 20px;

}
