*{
 font-family: poppins;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
:root{
 --main: #118ab2;
 --main-dark: #0d6886;
 --secondary: #ef476f;
 --secondary-light: #F79FB4;
 --white: #ffffff;
 --black: #212529;
 --grey: #ccc;
 --grey-light: #e9ecef;
 --grey-dark: #495057;
}
body{
 position: relative;
 width: 100vw;
 height: 100vh;
 display: grid;
 grid-template: 1fr 5fr / 1fr 5fr;
 grid-template: 185px auto / 1fr 5fr;
 grid-template-areas: "aside header" "aside main";
 overflow-x: hidden;
 position: relative;
}


/* ----- Header ----- */
header{
 grid-area: header;
 background-color: var(--white);
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
 display: grid;
 grid-template: 40% 40% / 60% 40%;
}
.border{
    border: 1px solid black;
}
.nav-search{
    display:flex;
    height:52px;
    border-radius: 40px;
    background-color: white;
    width:90%;
    margin-top:20px;
    margin-left: 9%;
}
.search-select{
    align-items: center;
    height: 50px;
    width:55px;
    margin-top:0;
    margin-bottom: 5px;
    background-color:#0b5e67 ;
    color:#fff;
    margin-left: 0.3px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size:1vw;
}
.search-input{
    width:100%;
    border: 0.2px solid black;
    font-size: 1 rem;
    

}
.search-icon{
    display:flex;
    width:50px;
    height:50px;
    color: #fff;;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    
    justify-content: center;
    align-items: center;
    background-color: #0b5e67;
    
}
#account{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: flex-end;
 gap: 2rem;
 padding-right: 10%;
}

#account > img{
 height: 90%;
 width: auto;
}
#account > p{
 font-weight: 500;
}
#welcome{
 display: flex;
 flex-direction: row;
 align-items: center;
 padding-left: 10%;
 gap: 1rem;
}
#welcome > img{
 width: 80px;
}
#welcome h4{

 font-size: 2.6vw;
 font-weight: 500;
}
#welcome p{
 font-weight: 400;
}
#btns{
 display: flex;
 flex-direction: row;
 justify-content: flex-end;
 align-items: center;
 gap: 3rem;
 padding-right: 10%;
}
#btns button{
 transition: 0.1s;
 font-size: 1vw;
 font-weight: 500;
 padding: 0.5em 2em;
 border-radius: 20px;
 background-color: var(--main);
 color: var(--white);
 border: 1px solid var(--main);
}
#btns button:hover{
 transition: 0.1s;
 cursor: pointer;
 background-color: var(--main-dark);
 border: 1px solid var(--main-dark);
}


/* ----- side menu----- */
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;;
}

.wrapper .sidebar{
    font-family: 'Raleway', sans-serif;;
    background: #08454c;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    padding: 5px 0;
    transition: all 0.5s ease;
}
.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #08454c;
    color: rgb(241, 237, 237);
    font-size: 16px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: #0c7db1;

    background:white;
    border-right: 2px solid #08454c;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: #0c7db1;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}
.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 8px;
}

.wrapper .sidebar .profile h3{
    color: #ffffff;
    margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
    color: rgb(206, 240, 253);
    font-size: 2vw;
}
.wrapper .sidebar ul li a{
    top: 30px;
    margin-top: 30px;
    display: block;
    padding: 13px 30px;
    border-bottom: 1px solid #08454c;
    color: #fff;
    font-size: 20px;
    position: relative;
}

.wrapper .sidebar ul li a .icon{
    color: #ffffff;
    width: 23px;
    display: inline-block;
}
.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color: white;

    background: #0c7db1;
    border-right: 2px solid #08454c;
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: white;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

/* ----- Main ----- */
main{
 display: grid;
 grid-template: 1fr 1fr / 3fr 1fr;
 background-image: url("./Background\ image.jpg");
 background-blend-mode: lighten;
 background-size: cover;
 
 grid-template-areas: "projects announcements" "projects trending";
 gap: 2.5rem;
 padding: 2.5rem;
 height: auto;
 grid-area: main;
 background-color: var(--grey-light);
 z-index: -1;
}
section{
 display: grid;
 grid-template-rows: 3rem 2fr;
}
.heading{
 display: flex;
 flex-direction: row;
 align-items: flex-end;
}
.projects{
 padding-left: 1rem;
}
.heading > h4{
 font-weight: 500;
 font-size: 20px;
}
#projects{
    
 grid-area: projects;
}
#announcements{
 grid-area: announcements;
}
#trending{
 grid-area: trending;
}

/* ----- Projects Section ----- */
#cards-div{
 display: grid;
 grid-auto-rows: 1fr;
 grid-template: 1fr / repeat(auto-fit,minmax(300px, 1fr));
 padding: 1rem;
 gap: 1.5rem;
 
}
.card{
 background-color: var(--white);
 border-radius: 10px;
 border-left: 5px solid var(--secondary);
 padding: 1rem;
 height: 14vw;
 width: 24vw;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
}
.card > h6{
 font-size: 1.4vw;
 font-weight: 500;
}
.card > p{
    font-size: 1.0vw;
}


/* ----- Announcements Section ----- */
#anc-container{
 background-color: var(--white);
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 1rem;
 padding: 1rem;
 margin-top: 1rem;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
 height: 20vw;
}
.anc > h6{
 font-size: 1.2vw;
 font-weight: bold;
}
.anc > p{
 font-size: 0.9vw;
}
.hr{
 height: 2px;
 border: none;
 background-color: var(--grey-dark);
}
#anc-container > hr, .anc > p, .hr{
 color: var(--grey-dark);
}

/* ----- Trending section ----- */
#trend-container{
 height: 23vw;
 padding: 1rem;
 margin-bottom: 0%;
 background-color: var(--white);
 border-radius: 10px;
 box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.1) , 0px 1px 2px 0px rgba(0,0,0,0.06) ;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding-left: 2rem;
}
.user-div{
 display: flex;
 flex-direction: row;
 gap: 1rem;
 align-items: center;
}
.user-div > img{
 height: 60px;
}
.user{
 display: flex;
 flex-direction: column;
 justify-content: center;
}
.handle{
 font-weight: 400;
 font-size: 16px;
}
.user > h6{
    font-size: 1.2vw;
}
.user > p{
 color: var(--grey-dark);
 font-size: 1vw;
}
